<nav class="navigation">
  <ul class="navigation__links">
    <li>
      <a [routerLink]="RoutePath.HOME" class="link">
        <div class="link__name">Home</div>
      </a>
    </li>

    <li>
      <a [routerLink]="RoutePath.O_NAS" class="link">
        <div class="link__name">O nas</div>
      </a>
    </li>

    <li>
      <a [routerLink]="RoutePath.KONTAKT" class="link">
        <div class="link__name">Kontakt</div>
      </a>
    </li>

    <li class="dropdown">
      <a [routerLink]="RoutePath.ROZLICZENIA" class="link">
        <div class="link__name">Rozliczenia</div>
      </a>
      <ul class="dropdown__menu">
        <li>
          <a [routerLink]="RoutePath.MY_ORDERS" class="dropdown__item">
            <span>Moje zamówienia</span>
          </a>
        </li>
        <li>
          <a [routerLink]="RoutePath.CLIENTS_ORDERS" class="dropdown__item">
            <span>Zamówienia klientów</span>
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a [routerLink]="RoutePath.STRUKTURA" class="link">
        <div class="link__name">Struktura</div>
      </a>
    </li>

    <li>
      <a [routerLink]="RoutePath.MY_ACCOUNT" class="link">
        <div class="link__name">Moje konto</div>
      </a>
    </li>
  </ul>
</nav>
