<h1>Zamówienia klientów</h1>

<div class="client-orders-wrapper">
  <table mat-table matSort [dataSource]="dataSource" (matSortChange)="announceSortChange()">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <ng-container matColumnDef="OrderId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Zamówienia</th>
      <td mat-cell *matCellDef="let element">{{ element.orderId }}</td>
    </ng-container>
    <ng-container matColumnDef="UserId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Użytkownika</th>
      <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
    </ng-container>
    <ng-container matColumnDef="OrderDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data rejestracji zamówienia</th>
      <td mat-cell *matCellDef="let element">{{ element.orderDate }}</td>
    </ng-container>
    <ng-container matColumnDef="TotalAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Kwota</th>
      <td mat-cell *matCellDef="let element">{{ element.totalAmount }}</td>
    </ng-container>
    <ng-container matColumnDef="StatusOrder">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">
    <span class="status"
          [ngClass]="{
            'in-progress': element.StatusOrder === 'W REALIZACJI',
            'delivered': element.StatusOrder === 'DOSTARCZONE',
            'shipped':element.StatusOrder==='WYSŁANO',
           'canceled': element.StatusOrder === 'ANULOWANO',
           'paid': element.StatusOrder === 'OPŁACONO',


          }">
      {{ element.StatusOrder }}
    </span>
      </td>
    </ng-container>
  </table>
</div>
