
@tailwind base;
@tailwind components;
@tailwind utilities;
.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: relative;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}

html, body
{
  width: 100%;
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height of the full viewport */
}

.main-content {
  flex: 1; /* This pushes the footer down by taking up all available space */
}

.footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.footer-content p {
  margin: 5px 0;
}

.footer p:first-child {
  font-weight: 500;
}

.toast {
  position: fixed;
  top: 80px;
  right: 20px;
  left: auto;

  background: #efe9f1;
  border-left: 6px solid #7a1e3a;

  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);

  min-width: 260px;
  font-family: "Poppins", sans-serif;

  z-index: 99999;

  color: #7a1e3a;
}

.toast strong {
  font-size: 16px;
  color: #7a1e3a;;
}

.toast p {
  font-size: 14px;
  margin: 5px 0 12px 0;
  color: #7a1e3a;;
}

.toast button {
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  margin-right: 8px;
}

.toast button.go {
  background: #7a1e3a;;
  color: white;
}

.toast button.go:hover {
  background: #7a1e3a;;
}

.toast button.close {
  background: #e6b9d6;
  color: #7a1e3a;;
}

.toast button.close:hover {
  background: #efe9f1;
}
